<div class="row">
	  <div class="col-md-12">
	  	<%= form_for @note, :remote => true, :url => {:controller => "notes", :action => "update"} do |f| %>
	     
	     
	      
	      <div id="note-content" contenteditable>
	      	<%= (@note.content != nil)? @note.content.html_safe : @note.content %>
	      </div>
			<div class="edit-options row">
				<div class="col-md-3">
					<select id= "font-size">
						<option value="14" selected> Font Size </option>
						<% [12,14,16,18,20].each do |num| %>
					     <option value="<%= num %>"><%= num %></option>
					    <% end %>
					</select>
				</div>
				<div class="col-md-1">
					<button id="embolden" class="btn btn-default btn-group-xs"><span class="glyphicon glyphicon-bold"></span></button>	
				</div>
				<div class="col-md-1">
					<button id="italicize" class="btn btn-default btn-group-xs"><span class="glyphicon glyphicon-italic"></span></button>	
				</div>
				<div class="col-md-1">
					<button id="underline" class="btn btn-default btn-group-xs"><span><b>U</b></span></button>
				</div>
				<div class="col-md-6">
					<button id="create-table" class="btn btn-default btn-group-xs"><span>Create Table</span></button>
					<input type="text" id ="table-rows" placeholder="rows">
					<input type="text" id ="table-columns" placeholder="columns">
				</div>
				
			</div>
		
	      <%= f.submit "Update Note", class: "btn btn-primary update-note" %>

		<% end %>
	  </div>

	  

	</div>