
<div class="note-container container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div id="note-info">
				<span id="author"> Note Author: <%= link_to user_of_note(@note), user_path(@note.user_id) %> </span>
				<span id="views"> Views:  <%= @note.views %> </span>
			</div>
		</div>
	</div>

	
		 <h1 class="note-title-header"> <span <%= ((current_user) && @note.user_id == current_user.id)?  "contenteditable=true" : '' %> > <%= @note.title %> </span></h1>
	<div class="row">
		<div class="col-md-6">
			<div class="show-video-container container-fluid">
				<iframe width="608" height="342" src="https://www.youtube.com/embed/<%= @note_video.id %>" frameborder="0" allowfullscreen></iframe>
			</div>
			<button class="btn btn-default btn-xs" id='hide-description'><span class="glyphicon glyphicon-minus"></span>
			</button>
			<span id="description-message">Hide Description</span>
			<div class="description container-fluid">
				<%= @note_video.description %>
			</div>
			
		</div>
		<div class="col-md-6">
			<% if ((current_user) && @note.user_id == current_user.id) %>	
				<%= render 'editableNote' %>
			<% else %>
				<%= render 'uneditableNote' %>
			<% end %>
		</div>
	</div>

<% if current_user && @note.user_id == current_user.id  %>
	<div class="row">
		<div class="col-md-12">
	  	<button class="btn btn-default btn-sm" id='hide-note-settings'><span class="glyphicon glyphicon-warning-sign"></span>
	   </button>
	  </div>
	</div>

	<div class="row">
		<div class="col-md-6 note-settings" id="" style= "display:none;" >
				<span> <input type="checkbox" name="public" value="publics" id="public-checkbox" <%= (@note.public?)? "checked": "" %>> </span>
	  			<span>Make Your Note Public to All Users</span> <br>
	  			<span class="glyphicon glyphicon-ok" <%= (@note.public?)? "style= visibility:visible" : "style= visibility:hidden" %> id='check-for-public'></span>
	  			<span <%= (note_public?)? "style= visibility:visible" : "style= visibility:hidden" %> id='message-for-public'>Your Note is Public for all Users to see!</span>
	  		
		</div>

		<div class="col-md-6 note-settings" style= 'display:none;'>
			<span><b>Warning: This Will Permanently Delete Your Note</b></span> <br>
			<%= button_to 'Delete Note', @note, :method => :delete, :params =>{ id: @note.id}, :class => "btn btn-default btn-block ", :id=> 'delete-note-button' , :onclick => "return confirm('Are You Sure You Want to Delete Your Note?');" %>
		</div>

	</div>

		
<% end %>

		
	


</div>