
<div class="note-container">

		 <h1 class="note-title-header"><%= @note.title %></h1>
		<div class="show-video-container container-fluid">
			<iframe width="640" height="360" src="https://www.youtube.com/embed/<%= @note_video.id %>" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="description container-fluid">
			<%= @note_video.description %>
		</div>
		
	


	<div class="row">
	  <div class="col-md-10 col-md-offset-1">
	  	<%= form_for @note, :remote => true, :url => {:controller => "notes", :action => "update"} do |f| %>
	      <%= f.label :title %>
	      <%= f.text_field :title, class: 'form-control', value: @note.title %>

	      <%= f.label :content %>
	      <%= f.text_area :content, class: 'form-control', rows: 20%>

	      <%= f.submit "Update my Note", class: "btn btn-primary update-note" %>
		<% end %>
	  </div>
	</div>

</div>