

<div class="container-fluid">
	


<div class="row user_info">
	<div class="col-md-3">
		<div class= "container-fluid profile-picture">
				<%= gravatar_for @user %>
  		</div>
  		<p><%= @user.email %></p>
  		<% if ( (current_user) && current_user.id == @user.id )%>
			<%= link_to "View All My Notes", notes_path %> <br> <br>
			<div class="container">
				<%= link_to ("Search For Videos <span class='glyphicon glyphicon-search'></span>").html_safe, {controller: "content_items", action: "search"}%>
			</div>
		<% else %>
			<%= link_to "View Public Notes", controller: "users", action: "public_notes" ,params: {id: @user.id} %>
		<% end %>
	</div>

	<div class="col-md-8">
			<h1> <%= @user.name %> </h1>
			
			<div class="container-fluid user-bio" <%=((current_user) && current_user.id == @user.id)? 'contenteditable' : '' %>>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac nulla a nulla aliquet sodales. Proin tincidunt nisl nec ornare semper. Fusce tincidunt interdum lectus nec iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis purus pretium, commodo lectus ac, posuere magna.
			</div>
			
	</div>

	
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-8">
		<div class="top_notes container-fluid">
				  <div class="panel panel-default">
				    <div class="panel-heading">
				    	<span class="left">Top Public Notes</span>
				    	<span class="right">Total Number of Notes: <%= @user.notes.size %> </span>
				    </div>
				    <% @top_notes.each do |note| %>
				    	<div class="panel-body"> <%= link_to note.title, note %> </div>
				    <% end %>
				  </div>
			</div>
	</div>	
</div>

<% if ( (current_user) && current_user.id == @user.id )%>
<div class="row">
	<div class="col-md-11"></div>
	<div class="col-md-1">
	
		
	</div>
</div>
<% end %> 


</div>