

<div class="container-fluid">
	


<div class="row user_info">
	<div class="col-md-3">
		<div class= "container-fluid profile-picture">
				<%= gravatar_for @user %>
  		</div>
  		<p><%= @user.email %></p>
  		<% if ( (current_user) && current_user.id == @user.id )%>
			<%= link_to "View All My Notes", notes_path %> <br> 
			<%= link_to "Update My Profile", edit_user_path(current_user) %> <br>
			<div class="container">
				<%= link_to ("Search For Videos <span class='glyphicon glyphicon-search'></span>").html_safe, {controller: "content_items", action: "search"}%>
			</div>
		<% else %>
			<%= link_to "View Public Notes", controller: "users", action: "public_notes" ,params: {id: @user.id} %>
		<% end %>
	</div>

	<div class="col-md-8">
			<h1> <%= @user.name %> </h1>
			
			<div class="container-fluid user-bio">
					<%= @user.bio %>
			</div>
	
			
	</div>

	
</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-8">
		<div class="top_notes container-fluid">
				  <div class="panel panel-default">
				    <div class="panel-heading">
				    	<span class="left">Top Public Notes</span>
				    	<span class="right">Total Number of Notes: <%= @user.notes.size %> </span>
				    </div>
				    <% @top_notes.each do |note| %>
				    	<div class="panel-body"> <%= link_to note.title, note %> </div>
				    <% end %>
				  </div>
			</div>
	</div>	
</div>



</div>